# **Lists**

1. Interchange the first and second last element of the list.

    List = [2,7,8,7,9,3,5,4,1,0,11,12,17]

In [6]:
List = [2,7,8,7,9,3,5,4,1,0,11,12,17]
temp=List[0]
List[0]=List[len(List)-2]
List[len(List)-2]=temp
print(List)

[12, 7, 8, 7, 9, 3, 5, 4, 1, 0, 11, 2, 17]

2. Find the fifth smallest number from the list.

    List: [11,2,67,6,26,5,4,76,77]

In [12]:
List= [11,2,67,6,26,5,4,76,77]
List.sort()
print(List)
print("The fifth smallest number from the list: ",List[4])

[2, 4, 5, 6, 11, 26, 67, 76, 77]
The fifth smallest number from the list:  11

3. Replace the last element in a list with another list.

    Original List: [1, 3, 5, 8, 10, 9]    List to add:  [2, 7, 9]

    Expected Output: [1, 3, 5, 8, 10, 2, 7, 9]

In [19]:
org_list=[1, 3, 5, 8, 10, 9]
list_add=[2, 7, 9]
org_list=org_list[:len(org_list)-1]+list_add[:]
print(org_list)

[1, 3, 5, 8, 10, 2, 7, 9]

4. Sort the list and pickup first three values and append to the sorted list.

    List: [12,3,4,98,100,75]

In [23]:
List=[12,3,4,98,100,75]
List.sort()
print("Sorted List before appending: ",List)
List=List[:]+List[:3]
print("Sorted List after appending: ",List)

Sorted List before appending:  [3, 4, 12, 75, 98, 100]
Sorted List after appending:  [3, 4, 12, 75, 98, 100, 3, 4, 12]

5. Find mean of items in the list and check whether mean is present in the list.

    List: [1, 2, 5, 8, 9, 10, 0].

In [28]:
List=[1, 2, 5, 8, 9, 10, 0]
Sum=sum(List)
Mean=int(Sum/len(List))
print("Mean: ", Mean)
if Mean in List:
  print("Mean is present in the list.")
else:
  print("Mean is not present in the list. ")

Mean:  5
Mean is present in the list.

6. Given two strings, append each of those strings to two different empty list. Multiply those list by the length of the string present in the corresponding list and then concatenate the two lists.

    String 1: “Hello”  String 2: “Ryan”

    Expected Output: ['Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Ryan', 'Ryan', 'Ryan', 'Ryan']

In [35]:
str1="Hello"
str2="Ryan"
list1=[]
list2=[]
list1.append(str1)
list2.append(str2)
list1=list1*len(str1)
list2=list2*len(str2)
list=list1+list2
print(list)

['Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Ryan', 'Ryan', 'Ryan', 'Ryan']

7. Remove the first occurrence of the given string from the list and replace it with its reverse string.

    List: [‘Hello’, ‘John’, ‘Noice’, ‘Hello’, ‘again’, ‘Hello’]

    String: Hello

In [37]:
string="Hello"
List=['Hello', 'John', 'Noice', 'Hello', 'again', 'Hello']
for i in List:
  if i==string:
    List[List.index(i)]=string[::-1]
    break
print(List)

['olleH', 'John', 'Noice', 'Hello', 'again', 'Hello']

# **Dictionary**

1. Merge two dictionaries.

    Dict_1: {“FirstName”:”Rahul”, “age”:9}       Dict2: {“LastName”:”Vaidya”, “class”:10}

In [49]:
Dict_1= {"FirstName": "Rahul", "age": 9}
Dict_2= {"LastName": "Vaidya", "class": 10}
Dict={**Dict_1,**Dict_2}
# Dict_1.update(Dict_2)# another method to merge dictionaries
print(Dict)

{'FirstName': 'Rahul', 'age': 9, 'LastName': 'Vaidya', 'class': 10}

2. Sum all the values of keys in a dictionary.

    Dictionary: {1:2, 3:4, 5:6, 7:8}

In [53]:
Dictionary={1:2, 3:4, 5:6, 7:8}
print(sum(Dictionary.keys()))

16

3. Count the values associated with each key in a dictionary. If number of values associated with any key is greater than equal to 5, remove the last element from that value.

    Dictionary: {1:[1,2,3], 2:[2,3,4,5], 3:[2,3,4,5,6], 4:[1,2]}

    Output: {1:[1,2,3], 2:[2,3,4,5], 3:[2,3,4,5], 4:[1,2]}

In [62]:
Dictionary= {1:[1,2,3], 2:[2,3,4,5], 3:[2,3,4,5,6], 4:[1,2]}

for key, value in Dictionary.items():
  if len(value)>=5:
    value.remove(value[len(value)-1])
print(Dictionary)

{1: [1, 2, 3], 2: [2, 3, 4, 5], 3: [2, 3, 4, 5], 4: [1, 2]}

4. Make a list of unique values from dictionary values.

    Dictionary: {“apple”: 1, “mango”: 2, “orange”:1, “banana”:2}

In [63]:
Dictionary={"apple": 1, "mango": 2, "orange":1, "banana":2}
Set=set(Dictionary.values())
print(Set)

{1, 2}

5. Make a dictionary. The items in the list should be keys in the dictionary and their corresponding index should be values of the keys.

    [2,68,7,8,98,70]

In [66]:
List=[2,68,7,8,98,70]
Dictionary={}
for i in List:
  Dictionary[i]=List.index(i)

print(Dictionary)

{2: 0, 68: 1, 7: 2, 8: 3, 98: 4, 70: 5}

6. Access the value of key ‘python2’:

In [67]:
sampleDict = { 

   "sabudh":{ 

      "intern":{ 

         "name":"Mike",

         "marks":{ 

            "python1":70,

            "python2":80

         }

      }

   }

}

print(sampleDict["sabudh"]["intern"]["marks"]["python2"])

80

7.  Check if a value ‘bunny’ exists in a dictionary:

sampleDict = {'a': ‘antelope’, 'b': ‘bunny’, 'c': ‘cat’}

In [69]:
sampleDict={'a': 'antelope', 'b':'bunny', 'c':'cat'}
if "bunny" in sampleDict.values():
  print("bunny exists in the dictionary.")
else:
  print("bunny does not exist in the dictionary.")

bunny exists in the dictionary.